# Data
data/ffhq/features/
data/ffhq/images1024x1024/
data/ffhq/pt_images/
data/ffhq/sd_latents/
data/ffhq/ffhq-dataset-v2.json
data/ffhq/sd_latents.pt
data/ffhq/sd_latents_pca_model.pkl
data/ffhq/sd_latents_smile_model.pt

# Demo
demo/losses/

# Models
models/classifier/
models/latent_vae/*
!models/latent_vae/configs/
!models/latent_vae/configs/**
models/latent_autoencoder/*
!models/latent_autoencoder/configs/
!models/latent_autoencoder/configs/**
models/latent_vqvae/*
!models/latent_vqvae/configs/
!models/latent_vqvae/configs/**
models/latent_vqvae2/*
!models/latent_vqvae2/configs/
!models/latent_vqvae2/configs/**
models/latent_linear_ae/*
!models/latent_linear_ae/configs/
!models/latent_linear_ae/configs/**
models/sd_vae
taming/

# Optimization results
results/

# Cache, Checkpoints, and logs
__pycache__/
*.pyc
*.pyo
*.pyd
logs/
*.cache
.ipynb_checkpoints