# Data
data/ffhq/features/
data/ffhq/images1024x1024/
data/ffhq/pt_images/
data/ffhq/sd_latents/
data/ffhq/ffhq-dataset-v2.json
data/ffhq/sd_latents.pt
data/ffhq/eval/batch_1024.pt
data/ffhq/inception_stats/

# Demo
demo/losses/
demo/vis/

# Models
/models/**
# keep any configs
!/models/*/
!/models/*/configs/
!/models/*/configs/**
taming/
ControlNetHED.pth

# Optimization results
results/

# Cache, Checkpoints, and logs
__pycache__/
*.pyc
*.pyo
*.pyd
logs/
*.cache
.ipynb_checkpoints
src/ctrloralter/checkpoints/
.conda/