pytorch-lightning==2.5.0.post0
torch==2.6.0
torchvision==0.21.0
gpytorch==1.14
scikit-learn==1.6.1
scipy==1.15.2
numpy>=2.0
diffusers>=0.25.0
pillow
transformers
protobuf
sentencepiece
accelerate
jupyter
matplotlib
tensorboard
pandas
requests
einops
taming-transformers
open_clip_torch